{% extends 'base.html' %}
{% load custom_filters %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% endblock %}

{% block content %}
<h1>Camas</h1>

<form method="get">
    <label for="unidad">Selecciona una Unidad:</label>
    <select name="unidad" id="unidad" onchange="this.form.submit()">
        <option value="">-- Elegir --</option>
        {% for unidad in unidades %}
            <option value="{{ unidad.id }}" {% if unidad.id == unidad_seleccionada %}selected{% endif %}>
                {{ unidad.nombre }}
            </option>
        {% endfor %}
    </select>
</form>

{% if unidad_seleccionada %}
    <h2>Camas de {{ unidades|get_unidad_nombre:unidad_seleccionada }}</h2>
    {% if camas %}
        <ul>
            {% for cama in camas %}
                <li>
                    Cama {{ cama.numero }} - 
                    {% with paciente=pacientes_por_cama|dictkey:cama.id %}
                        {% if paciente %}
                            Ocupada por <a href="{% url 'detalle_paciente' paciente.id %}">{{ paciente.nombre }}</a> ({{ paciente.diagnostico }})
                        {% else %}
                            Disponible
                        {% endif %}
                    {% endwith %}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No hay camas en esta unidad.</p>
    {% endif %}
{% endif %}
{% endblock %}