{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% endblock %}

{% block content %}
<h1>Registrar nuevo paciente</h1>

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Guardar</button>
</form>

<p><a href="{% url 'lista_camas' %}">Volver a camas</a></p>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const unidadSelect = document.getElementById('id_unidad');
        const camaSelect = document.getElementById('id_cama');
    
        unidadSelect.addEventListener('change', function () {
            const unidadId = this.value;
    
            fetch(`/pacientes/camas-disponibles/?unidad=${unidadId}`)
                .then(response => response.json())
                .then(data => {
                    camaSelect.innerHTML = '';  // Limpia las opciones anteriores
    
                    const defaultOption = document.createElement('option');
                    defaultOption.value = '';
                    defaultOption.textContent = '---------';
                    camaSelect.appendChild(defaultOption);
    
                    data.forEach(cama => {
                        const option = document.createElement('option');
                        option.value = cama.id;
                        option.textContent = cama.numero;
                        camaSelect.appendChild(option);
                    });
                });
        });
    });
    </script>
{% endblock %}
