/* static/css/styles.css */

body {
    background-color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1, h2 {
    color: #2e88b3;  /* Celeste claro para los encabezados */
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #f0faff;  /* Celeste muy claro para los items de lista */
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 4px;
}

li:hover {
    background-color: #e0f0ff; /* Celeste aún más claro cuando se pasa el ratón */
}

.btn {
    display: inline-block;
    margin: 5px;
    padding: 8px 15px;
    background-color: #3498db;
    color: white;
    text-decoration: none;
    border-radius: 8px;
}

.btn:hover {
    background-color: #2980b9;
}

.btn-active {
    display: inline-block;
    margin: 5px;
    padding: 8px 15px;
    background-color: #27ae60;
    color: white;
    text-decoration: none;
    border-radius: 8px;
}

.section-nav {
    max-width: 180px;
}

#miTab .nav-link {
    border-radius: 0;
    margin-bottom: 4px;
}
