{% extends 'base.html' %}

{% block content %}
<h2>Editar Epicrisis</h2>

<form method="post">
    {% csrf_token %}
    <div class="mb-2">
        {{ form.diagnostico_egreso.label_tag }}
        {{ form.diagnostico_egreso }}
    </div>
    <div class="mb-2">
        {{ form.comentario_evolucion.label_tag }}
        {{ form.comentario_evolucion }}
    </div>
    <div class="mb-3">
        {{ form.indicaciones_generales.label_tag }}
        {{ form.indicaciones_generales }}
        <div class="mt-1">
            <button type="button" class="btn btn-link p-0" onclick="openPlantillaModal('indicacion_general','id_indicaciones_generales')" title="Plantillas">
                <i class="bi bi-card-text fs-5"></i>
            </button>
        </div>
    </div>
    <div class="mb-2">
        {{ form.indicaciones_controles.label_tag }}
        {{ form.indicaciones_controles }}
    </div>

    <button type="submit" name="accion" value="borrador" class="btn btn-secondary">Guardar cambios</button>
    <button type="submit" name="accion" value="finalizar" class="btn btn-primary">Finalizar y generar PDF</button>
</form>



<p class="mt-4">
    <a href="{% url 'detalle_paciente' epicrisis.paciente.id %}">← Volver a ficha del paciente</a>
</p>
{% endblock %}